<div *ngIf="!gameId">
    <button class="btn-reset" (click)="createGame()">Create New Game</button>
    <button class="btn-reset" (click)="joinGame()">Join Game</button>
  </div>
  
  <div *ngIf="gameId">
    <h2>Game Code: <strong>{{ gameId }}</strong></h2>
    <p>{{ gameStatusMessage }}</p>
    <ngx-chess-board
      #board
      [showCoordinates]="true"
      [dragEnabled]="!isOpponentTurn" 
      [darkDisabled]="isOpponentTurn" 
      [lightDisabled]="isOpponentTurn" 
      (moveChange)="onMoveChange($event)"
    ></ngx-chess-board>
  </div>
  